<div class="container my-3">
  <div class="row g-3">
    @for (pokm of pokemon(); track pokm.id) {
      <div class="col-md-6 col-lg-2">
        <div class="card p-3 text-center">
          <span class="fs-6 fw-medium card-title">{{ pokm.displayName }}</span>

          <div class="d-flex justify-content-center gap-2">
            @for (tipo of pokm.types; track tipo.name) {
              <span class="badge rounded-pill text-light">{{ tipo.displayName }}</span>
            }
          </div>

          @if (pokm.imageUrl) {
            <img [src]="pokm.imageUrl" [alt]="pokm.imageAlt" />
          } @else {
            <p>Imagem não disponível</p>
          }
        </div>
      </div>
    }
  </div>
</div>